/* Can be forced with data-theme="light" 
* and for some fucking reason this breaks lol thx nerdfonts*/
[data-theme=light],
:root:not([data-theme=dark]) {
  --pico-text-selection-color: rgba(167, 128, 212, 0.25);
  --pico-primary: #8352c5;
  --pico-primary-background: #7540bf;
  --pico-primary-underline: rgba(131, 82, 197, 0.5);
  --pico-primary-hover: #6935b3;
  --pico-primary-hover-background: #6935b3;
  --pico-primary-focus: rgba(167, 128, 212, 0.25);
  --pico-primary-inverse: #fff;
}

/* Violet color for dark color scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --pico-text-selection-color: rgba(178, 144, 217, 0.1875);
    --pico-primary: #b290d9;
    --pico-primary-background: #7540bf;
    --pico-primary-underline: rgba(178, 144, 217, 0.5);
    --pico-primary-hover: #c9afe4;
    --pico-primary-hover-background: #8352c5;
    --pico-primary-focus: rgba(178, 144, 217, 0.25);
    --pico-primary-inverse: #fff;
  }
}

/* Violet color for dark color scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme=dark] {
  --pico-text-selection-color: rgba(178, 144, 217, 0.1875);
  --pico-primary: #b290d9;
  --pico-primary-background: #7540bf;
  --pico-primary-underline: rgba(178, 144, 217, 0.5);
  --pico-primary-hover: #c9afe4;
  --pico-primary-hover-background: #8352c5;
  --pico-primary-focus: rgba(178, 144, 217, 0.25);
  --pico-primary-inverse: #fff;
}

body {
  padding: 1em;
  background: linear-gradient(#6600B0, transparent);
  background-size: 100vw 75vh;
  background-repeat: no-repeat;
  font-family: 'Fira Code', monospace;
}

body[current-theme=light] {
  background: linear-gradient(#ad71d8, transparent);
  background-size: 100vw 75vh;
  background-repeat: no-repeat;
  font-family: 'Fira Code', monospace;
}

dialog {
  border: none;
  transition: 0.5s;
}

footer {
  text-align: center;
}

img {
  border-radius: 15px;
}

.wiki-button {
  width: 33vw;
  text-align: left;
}

.no-img-rounding {
  border-radius: 0px;
}

.article-block {
  overflow: auto;
}

.about-img {
  float: right;
}

.about-img img {
  display: block;
}

.non-modal-article {
  max-width: 600px;
}

.no-background {
  background-color: transparent;
}

.center {
  text-align: center;
}

.background-logo {
  background-color: #6600B0;
  border-radius: 50px;
}

.logo {
  padding: 7.5%;
}

.secret {
  opacity: 1%;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
